[Unit]
Description=Friskby logger
After=network-online.target 
Requires=network-online.target

[Service]
ExecStart=%(EXECUTABLE)s
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target


