[Unit]
Description=Friskby logger
After=network-online.target 
Requires=network-online.target

[Service]
ExecStart=%(EXECUTABLE)s


[Install]
WantedBy=multi-user.target


