[Unit]
Description=Friskby logger
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/fby_client
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
