[Unit]
Description=Friskby submitter
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/fby_submitter
Restart=on-failure
RestartSec=600

[Install]
WantedBy=multi-user.target
